<div class="card">
        <div class="badges">
                {{#if this.badges.safeDeal}}
                        {{!-- {{this.badges.safeDeal}} --}}
                {{/if}}

                {{#if this.badges.delivery}}
                <div class="badge">
                        {{!-- {{this.badges.delivery}} --}}
                </div> 
                {{/if}}

                {{#if this.badges.city}}
                <div class="badge">
                        {{this.badges.city}}
                </div>
                {{/if}}
        </div>
        <div class="card-body">
                <img class="card-img" src="https://rabotatam.ru/uploads/monthly_2017_04/large.58f1bdeda1c5c_.jpg.91c33c120ad86a4dbf2c50dd44d00890.jpg" alt="{{this.cardImage.alt}}">
                <div class="card-info">
                        <span class="card-info-price">{{this.cardInfo.price}} ₽</span>
                        <span class="card-info-title">{{this.cardInfo.title}} ₽</span>
                </div>
                {{!-- <div class="card-fav-btn"></div> --}}
        </div>
</div>