<div id="{{this.id}}" class="dropdown-container">
    {{#if search}}
    <div class="dropdown-search">
        {{{this.search.icon}}}
        <input class='search-input' placeholder='Поиск'>
    </div>
    {{/if}}
    <div class="dropdown-content">
        {{#each this.items.content}}
            <button id="{{this.items.ref}}_{{this.[0]}}" class="dropdown-btn">{{this.[1]}}</button>
        {{/each}}
    </div>
</div>