{{#if (isprofile this.variant)}}
    <button class="card-profile">
        {{#if this.image}}
                <img class='image' src='{{this.image}}' />
            {{else}}
                <div class="img"></div>
            {{/if}}
        <div class="content">
            <span class='text-regular'>{{this.price}} ₽</span>
            <span class='text-regular title'>{{this.title}}</span>
            <div class="divider"></div>
            {{#if (haveBadges)}}
                <div class="badges">
                    {{!-- {{haveBadges}}
                    {{this.safeDeal}}
                    {{this.delivery}} --}}
                    {{#if this.safeDeal}}
                        <div class="badge">
                            <svg width="20" height="20" viewBox="0 0 64 64" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M21.352 6.36C17.5423 7.40993 13.7586 8.5516 10.004 9.784C9.66115 9.89506 9.35639 10.1002 9.12443 10.376C8.89247 10.6518 8.74263 10.9872 8.69199 11.344C6.47599 27.972 11.596 40.104 17.704 48.096C20.2901 51.5136 23.3736 54.5243 26.852 57.028C28.236 58.004 29.46 58.708 30.424 59.16C30.904 59.388 31.296 59.54 31.596 59.632C31.7272 59.678 31.8625 59.7115 32 59.732C32.1359 59.7099 32.2697 59.6765 32.4 59.632C32.704 59.54 33.096 59.388 33.576 59.16C34.536 58.708 35.764 58 37.148 57.028C40.6263 54.5243 43.7099 51.5135 46.296 48.096C52.404 40.108 57.524 27.972 55.308 11.344C55.2578 10.987 55.1081 10.6514 54.8761 10.3755C54.6441 10.0996 54.3391 9.89464 53.996 9.784C51.392 8.932 46.996 7.544 42.648 6.364C38.208 5.16 34.124 4.268 32 4.268C29.88 4.268 25.792 5.156 21.352 6.36ZM20.288 2.24C24.628 1.06 29.24 0 32 0C34.76 0 39.372 1.06 43.712 2.24C48.152 3.44 52.628 4.86 55.26 5.72C56.3604 6.08341 57.336 6.74986 58.0747 7.6428C58.8134 8.53575 59.2852 9.61896 59.436 10.768C61.82 28.676 56.288 41.948 49.576 50.728C46.7298 54.4839 43.336 57.7914 39.508 60.54C38.1844 61.4911 36.7819 62.3275 35.316 63.04C34.196 63.568 32.992 64 32 64C31.008 64 29.808 63.568 28.684 63.04C27.218 62.3275 25.8156 61.4911 24.492 60.54C20.6641 57.7913 17.2703 54.4838 14.424 50.728C7.71199 41.948 2.17999 28.676 4.56399 10.768C4.71474 9.61896 5.18656 8.53575 5.92526 7.6428C6.66395 6.74986 7.63956 6.08341 8.73999 5.72C12.5608 4.46724 16.4112 3.3069 20.288 2.24Z"
                                    fill="#292C2F" />
                                <path
                                    d="M24.3074 46.3448V40.9747H20.7448V37.3946H24.3074V33.8146H20.7448V30.2345H24.3074V14.1241H35.8857C38.617 14.1241 40.9327 15.0788 42.8327 16.9882C44.7327 18.8976 45.6827 21.2246 45.6827 23.9694C45.6827 26.7141 44.7327 29.0411 42.8327 30.9505C40.9327 32.8599 38.617 33.8146 35.8857 33.8146H27.8699V37.3946H34.9951V40.9747H27.8699V46.3448H24.3074ZM27.8699 30.2345H35.8857C37.6076 30.2345 39.0772 29.6229 40.2944 28.3997C41.5116 27.1765 42.1202 25.6997 42.1202 23.9694C42.1202 22.239 41.5116 20.7622 40.2944 19.539C39.0772 18.3158 37.6076 17.7042 35.8857 17.7042H27.8699V30.2345Z"
                                    fill="#292C2F" />
                            </svg>
                        </div>
                    {{/if}}
                    {{#if this.delivery}}
                        <div class='badge'>
                            <svg width="20" height="20" viewBox="0 0 64 64" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 32H32V36H8V32ZM4 22H24V26H4V22Z" fill="#292C2F" />
                                <path
                                    d="M59.838 33.212L53.838 19.212C53.684 18.8522 53.4278 18.5455 53.101 18.33C52.7743 18.1145 52.3914 17.9998 52 18H46V14C46 13.4696 45.7893 12.9609 45.4142 12.5858C45.0391 12.2107 44.5304 12 44 12H12V16H42V41.112C41.0887 41.6412 40.2911 42.3456 39.6533 43.1845C39.0155 44.0234 38.5502 44.9803 38.284 46H25.716C25.2292 44.1147 24.0715 42.4716 22.46 41.3788C20.8484 40.286 18.8936 39.8184 16.962 40.0638C15.0304 40.3091 13.2545 41.2505 11.9674 42.7115C10.6802 44.1726 9.97003 46.0529 9.97003 48C9.97003 49.9471 10.6802 51.8274 11.9674 53.2885C13.2545 54.7495 15.0304 55.6909 16.962 55.9362C18.8936 56.1816 20.8484 55.714 22.46 54.6212C24.0715 53.5284 25.2292 51.8853 25.716 50H38.284C38.7191 51.7165 39.7141 53.2389 41.1116 54.3263C42.509 55.4138 44.2292 56.0043 46 56.0043C47.7708 56.0043 49.491 55.4138 50.8884 54.3263C52.2859 53.2389 53.2809 51.7165 53.716 50H58C58.5304 50 59.0391 49.7893 59.4142 49.4142C59.7893 49.0391 60 48.5304 60 48V34C60.0001 33.7291 59.945 33.4609 59.838 33.212ZM18 52C17.2089 52 16.4355 51.7654 15.7777 51.3259C15.1199 50.8864 14.6072 50.2616 14.3045 49.5307C14.0017 48.7998 13.9225 47.9956 14.0769 47.2196C14.2312 46.4437 14.6122 45.731 15.1716 45.1716C15.731 44.6122 16.4437 44.2312 17.2196 44.0769C17.9956 43.9225 18.7998 44.0017 19.5307 44.3045C20.2616 44.6072 20.8864 45.1199 21.3259 45.7777C21.7654 46.4355 22 47.2089 22 48C21.9989 49.0605 21.5772 50.0773 20.8273 50.8273C20.0773 51.5772 19.0605 51.9989 18 52ZM46 22H50.68L54.968 32H46V22ZM46 52C45.2089 52 44.4355 51.7654 43.7777 51.3259C43.1199 50.8864 42.6072 50.2616 42.3045 49.5307C42.0017 48.7998 41.9225 47.9956 42.0769 47.2196C42.2312 46.4437 42.6122 45.731 43.1716 45.1716C43.731 44.6122 44.4437 44.2312 45.2196 44.0769C45.9956 43.9225 46.7998 44.0017 47.5307 44.3045C48.2616 44.6072 48.8864 45.1199 49.3259 45.7777C49.7654 46.4355 50 47.2089 50 48C49.9989 49.0605 49.5772 50.0773 48.8273 50.8273C48.0773 51.5772 47.0605 51.9989 46 52ZM56 46H53.716C53.2754 44.2869 52.2789 42.7684 50.8825 41.6825C49.4861 40.5967 47.7689 40.0049 46 40V36H56V46Z"
                                    fill="#292C2F" />
                            </svg>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
            
            {{#if this.city}}
            <div class="badges">
                <div class='badge'>
                    <span class="text-regular">{{this.city}}</span>
                </div>
            </div>
            {{/if}}
        </div>
    </button>
{{else}}
    <button class="card">
        <div class='badges'>
            {{#if this.safeDeal}}
                <div class="badge">
                    <svg width="20" height="20" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M21.352 6.36C17.5423 7.40993 13.7586 8.5516 10.004 9.784C9.66115 9.89506 9.35639 10.1002 9.12443 10.376C8.89247 10.6518 8.74263 10.9872 8.69199 11.344C6.47599 27.972 11.596 40.104 17.704 48.096C20.2901 51.5136 23.3736 54.5243 26.852 57.028C28.236 58.004 29.46 58.708 30.424 59.16C30.904 59.388 31.296 59.54 31.596 59.632C31.7272 59.678 31.8625 59.7115 32 59.732C32.1359 59.7099 32.2697 59.6765 32.4 59.632C32.704 59.54 33.096 59.388 33.576 59.16C34.536 58.708 35.764 58 37.148 57.028C40.6263 54.5243 43.7099 51.5135 46.296 48.096C52.404 40.108 57.524 27.972 55.308 11.344C55.2578 10.987 55.1081 10.6514 54.8761 10.3755C54.6441 10.0996 54.3391 9.89464 53.996 9.784C51.392 8.932 46.996 7.544 42.648 6.364C38.208 5.16 34.124 4.268 32 4.268C29.88 4.268 25.792 5.156 21.352 6.36ZM20.288 2.24C24.628 1.06 29.24 0 32 0C34.76 0 39.372 1.06 43.712 2.24C48.152 3.44 52.628 4.86 55.26 5.72C56.3604 6.08341 57.336 6.74986 58.0747 7.6428C58.8134 8.53575 59.2852 9.61896 59.436 10.768C61.82 28.676 56.288 41.948 49.576 50.728C46.7298 54.4839 43.336 57.7914 39.508 60.54C38.1844 61.4911 36.7819 62.3275 35.316 63.04C34.196 63.568 32.992 64 32 64C31.008 64 29.808 63.568 28.684 63.04C27.218 62.3275 25.8156 61.4911 24.492 60.54C20.6641 57.7913 17.2703 54.4838 14.424 50.728C7.71199 41.948 2.17999 28.676 4.56399 10.768C4.71474 9.61896 5.18656 8.53575 5.92526 7.6428C6.66395 6.74986 7.63956 6.08341 8.73999 5.72C12.5608 4.46724 16.4112 3.3069 20.288 2.24Z"
                            fill="#292C2F" />
                        <path
                            d="M24.3074 46.3448V40.9747H20.7448V37.3946H24.3074V33.8146H20.7448V30.2345H24.3074V14.1241H35.8857C38.617 14.1241 40.9327 15.0788 42.8327 16.9882C44.7327 18.8976 45.6827 21.2246 45.6827 23.9694C45.6827 26.7141 44.7327 29.0411 42.8327 30.9505C40.9327 32.8599 38.617 33.8146 35.8857 33.8146H27.8699V37.3946H34.9951V40.9747H27.8699V46.3448H24.3074ZM27.8699 30.2345H35.8857C37.6076 30.2345 39.0772 29.6229 40.2944 28.3997C41.5116 27.1765 42.1202 25.6997 42.1202 23.9694C42.1202 22.239 41.5116 20.7622 40.2944 19.539C39.0772 18.3158 37.6076 17.7042 35.8857 17.7042H27.8699V30.2345Z"
                            fill="#292C2F" />
                    </svg>
                </div>
            {{/if}}

            {{#if this.delivery}}
                <div class='badge'>
                    <svg width="20" height="20" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 32H32V36H8V32ZM4 22H24V26H4V22Z" fill="#292C2F" />
                        <path
                            d="M59.838 33.212L53.838 19.212C53.684 18.8522 53.4278 18.5455 53.101 18.33C52.7743 18.1145 52.3914 17.9998 52 18H46V14C46 13.4696 45.7893 12.9609 45.4142 12.5858C45.0391 12.2107 44.5304 12 44 12H12V16H42V41.112C41.0887 41.6412 40.2911 42.3456 39.6533 43.1845C39.0155 44.0234 38.5502 44.9803 38.284 46H25.716C25.2292 44.1147 24.0715 42.4716 22.46 41.3788C20.8484 40.286 18.8936 39.8184 16.962 40.0638C15.0304 40.3091 13.2545 41.2505 11.9674 42.7115C10.6802 44.1726 9.97003 46.0529 9.97003 48C9.97003 49.9471 10.6802 51.8274 11.9674 53.2885C13.2545 54.7495 15.0304 55.6909 16.962 55.9362C18.8936 56.1816 20.8484 55.714 22.46 54.6212C24.0715 53.5284 25.2292 51.8853 25.716 50H38.284C38.7191 51.7165 39.7141 53.2389 41.1116 54.3263C42.509 55.4138 44.2292 56.0043 46 56.0043C47.7708 56.0043 49.491 55.4138 50.8884 54.3263C52.2859 53.2389 53.2809 51.7165 53.716 50H58C58.5304 50 59.0391 49.7893 59.4142 49.4142C59.7893 49.0391 60 48.5304 60 48V34C60.0001 33.7291 59.945 33.4609 59.838 33.212ZM18 52C17.2089 52 16.4355 51.7654 15.7777 51.3259C15.1199 50.8864 14.6072 50.2616 14.3045 49.5307C14.0017 48.7998 13.9225 47.9956 14.0769 47.2196C14.2312 46.4437 14.6122 45.731 15.1716 45.1716C15.731 44.6122 16.4437 44.2312 17.2196 44.0769C17.9956 43.9225 18.7998 44.0017 19.5307 44.3045C20.2616 44.6072 20.8864 45.1199 21.3259 45.7777C21.7654 46.4355 22 47.2089 22 48C21.9989 49.0605 21.5772 50.0773 20.8273 50.8273C20.0773 51.5772 19.0605 51.9989 18 52ZM46 22H50.68L54.968 32H46V22ZM46 52C45.2089 52 44.4355 51.7654 43.7777 51.3259C43.1199 50.8864 42.6072 50.2616 42.3045 49.5307C42.0017 48.7998 41.9225 47.9956 42.0769 47.2196C42.2312 46.4437 42.6122 45.731 43.1716 45.1716C43.731 44.6122 44.4437 44.2312 45.2196 44.0769C45.9956 43.9225 46.7998 44.0017 47.5307 44.3045C48.2616 44.6072 48.8864 45.1199 49.3259 45.7777C49.7654 46.4355 50 47.2089 50 48C49.9989 49.0605 49.5772 50.0773 48.8273 50.8273C48.0773 51.5772 47.0605 51.9989 46 52ZM56 46H53.716C53.2754 44.2869 52.2789 42.7684 50.8825 41.6825C49.4861 40.5967 47.7689 40.0049 46 40V36H56V46Z"
                            fill="#292C2F" />
                    </svg>
                </div>
            {{/if}}

            {{#if this.city}}
                <div class='badge'>
                    <span class="text-regular">{{this.city}}</span>
                </div>
            {{/if}}
        </div>
        <div class='body'>
            {{#if this.image}}
                <img class='img' src='{{this.image}}' />
            {{else}}
                <div class="img"></div>
            {{/if}}
            <div class='info'>
                <span class='text-regular'>{{this.price}} ₽</span>
                <span class='text-regular title'>{{this.title}}</span>
            </div>
            {{! <div class="card-fav-btn"></div> }}
        </div>
    </button>
{{/if}}