<nav>
    <a href='/' data-link="/" class='logo-box'>
        <div style="background-image: url(assets/icons/logo.svg); width: 60px; height: 60px;"></div>
        <p class='text-subheader'>Супер Юла</p>
    </a>
    <button class='btn-primary'><p class="text-regular">Категории</p></button>
    <div class='search-box'>
        {{{this.search.icon}}}
        <input class='search-input' placeholder='Поиск'>
    </div>
    <button class='btn-neutral'><p class="text-regular">Разместить объявление</p></button>
    {{#if authorized}}
    {{{this.profile}}}
    {{else}}
    <div class="auth-box">
        <a href="/signin" data-link="/signin"  class='btn-primary'><p class="text-regular">{{this.signin.caption}}</p></a>
        <a href="/signup" data-link="/signup"  class='btn-neutral'><p class="text-regular">{{this.signup.caption}}</p></a>
    </div>
    {{/if}}
</nav>