<div class="menu">
    <span class="text-subheader">{{this.price}} ₽</span>
    <div class="saler">
        {{#if this.saler.avatar}}
            <img class="image" src="{{this.saler.avatar}}" />
        {{else}}
            <img class="image" src="https://via.placeholder.com/90x90" />
        {{/if}}
        <div class="info">
            <div class="creds">
                <span class="text-regular">{{this.saler.name}}</span>
                <span class="text-regular">{{this.saler.email}}</span>
            </div>
            <div class="additional">
                <span class="text-regular">на Юле с 09 окт 2021</span>
                <div class="rating">
                    <svg>star 24*24 | 5</svg>
                </div>
            </div>
        </div>
    </div>
    <div class="badges">
        {{#if this.safeDeal}}
            <div class="badge">
                <svg>safeDial</svg>
                <span class="text-regular">Безопасная сделка</span>
            </div>
        {{/if}}
        {{#if this.delivery}}
            <div class="badge">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path d="M2.5 10H10V11.25H2.5V10ZM1.25 6.875H7.5V8.125H1.25V6.875Z" fill="#0081D8" />
                    <path
                        d="M18.6993 10.3788L16.8243 6.00375C16.7762 5.8913 16.6961 5.79546 16.594 5.72812C16.4919 5.66079 16.3723 5.62493 16.25 5.625H14.375V4.375C14.375 4.20924 14.3091 4.05027 14.1919 3.93306C14.0747 3.81585 13.9157 3.75 13.75 3.75H3.74997V5H13.125V12.8475C12.8402 13.0129 12.5909 13.233 12.3916 13.4952C12.1923 13.7573 12.0469 14.0564 11.9637 14.375H8.03622C7.88409 13.7858 7.52232 13.2724 7.01871 12.9309C6.5151 12.5894 5.90422 12.4433 5.30059 12.5199C4.69696 12.5966 4.14201 12.8908 3.73976 13.3474C3.33752 13.8039 3.1156 14.3915 3.1156 15C3.1156 15.6085 3.33752 16.1961 3.73976 16.6526C4.14201 17.1092 4.69696 17.4034 5.30059 17.4801C5.90422 17.5567 6.5151 17.4106 7.01871 17.0691C7.52232 16.7276 7.88409 16.2142 8.03622 15.625H11.9637C12.0997 16.1614 12.4106 16.6371 12.8473 16.977C13.284 17.3168 13.8216 17.5013 14.375 17.5013C14.9283 17.5013 15.4659 17.3168 15.9026 16.977C16.3393 16.6371 16.6503 16.1614 16.7862 15.625H18.125C18.2907 15.625 18.4497 15.5592 18.5669 15.4419C18.6841 15.3247 18.75 15.1658 18.75 15V10.625C18.75 10.5403 18.7328 10.4565 18.6993 10.3788ZM5.62497 16.25C5.37774 16.25 5.13606 16.1767 4.9305 16.0393C4.72494 15.902 4.56473 15.7068 4.47012 15.4784C4.37551 15.2499 4.35075 14.9986 4.39898 14.7561C4.44721 14.5137 4.56627 14.2909 4.74108 14.1161C4.9159 13.9413 5.13863 13.8222 5.3811 13.774C5.62358 13.7258 5.87491 13.7505 6.10332 13.8451C6.33173 13.9398 6.52695 14.1 6.6643 14.3055C6.80165 14.5111 6.87497 14.7528 6.87497 15C6.87463 15.3314 6.74283 15.6492 6.50848 15.8835C6.27413 16.1179 5.95638 16.2497 5.62497 16.25ZM14.375 6.875H15.8375L17.1775 10H14.375V6.875ZM14.375 16.25C14.1277 16.25 13.8861 16.1767 13.6805 16.0393C13.4749 15.902 13.3147 15.7068 13.2201 15.4784C13.1255 15.2499 13.1008 14.9986 13.149 14.7561C13.1972 14.5137 13.3163 14.2909 13.4911 14.1161C13.6659 13.9413 13.8886 13.8222 14.1311 13.774C14.3736 13.7258 14.6249 13.7505 14.8533 13.8451C15.0817 13.9398 15.277 14.1 15.4143 14.3055C15.5517 14.5111 15.625 14.7528 15.625 15C15.6246 15.3314 15.4928 15.6492 15.2585 15.8835C15.0241 16.1179 14.7064 16.2497 14.375 16.25ZM17.5 14.375H16.7862C16.6485 13.8396 16.3371 13.3651 15.9007 13.0258C15.4644 12.6865 14.9277 12.5015 14.375 12.5V11.25H17.5V14.375Z"
                        fill="#0081D8" />
                </svg>
                <span class="text-regular">Возможна доставка</span>
            </div>
        {{/if}}
    </div>
    <div id="errorBox"></div>
</div>