<div id="{{this.id}}" class="dropdown-container hidden">
    {{#if this.search}}
        <div class="dropdown-search">
            {{{this.searchIcon}}}
            <input class='search-input' placeholder='Поиск'>
        </div>
    {{/if}}
    <div class="dropdown-content">
        {{#each this.items}}
            {{#if this.[2]}}
                <span class="text-regular">{{this.[1]}}</span>
            {{else}}
                <button {{#if this.[0]}}
                    id="{{this.[0]}}"  
                {{/if}}  class="dropdown-btn"><span class="text-regular">{{this.[1]}}</span></button>
            {{/if}}
        {{/each}}
    </div>
</div>
