<nav>
    <a href='' class='logo-box'>
        {{{this.logo.icon}}}
        <span class='logo-caption'>Супер Юла</span>
    </a>
    <button class='btn-primary'>Категории</button>
    <div class='search-box'>
        {{{this.search.icon}}}
        <input class='search-input' placeholder='Поиск'>
    </div>
    <button class='btn-neutral'>Разместить объявление</button>
    {{#if authorized}}
    {{> profile}}
    {{else}}
    <div class="auth-box">
        <button id='btn-signin'  class='btn-primary'>{{this.signin.caption}}</button>
        <button id='btn-signup'  class='btn-neutral'>{{this.signup.caption}}</button>
    </div>
    {{/if}}
</nav>